include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include textile *.css
recursive-include textile *.csv
recursive-include textile *.html
recursive-include textile *.ico
recursive-include textile *.js
recursive-include textile *.json
recursive-include textile *.md
recursive-include textile *.png
recursive-include textile *.py
recursive-include textile *.svg
recursive-include textile *.txt
recursive-exclude textile *.pyc